{% extends "base.html" %}

{% block content %}

<h1 style="text-align:left; margin-left:15%;">
    👤 {{ participant.display_name }}
</h1>


{% if bonus %}

<div style="
    width:70%;
    margin:auto;
    margin-bottom:30px;
">

    <div style="
        border:1px solid #ddd;
        border-radius:12px;
        background:white;
        padding:20px;
    ">

        <h2 style="
            text-align:left;
            margin-top:0;
        ">
            🏆 Cuadro de honor
        </h2>

        <div style="
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            gap:10px;
        ">

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Campeón</strong><br>
                {{ bonus.champion }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Subcampeón</strong><br>
                {{ bonus.runner_up }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>3º Puesto</strong><br>
                {{ bonus.third_place }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Bota de Oro</strong><br>
                {{ bonus.golden_boot }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Bota de Plata</strong><br>
                {{ bonus.silver_boot }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Bota de Bronce</strong><br>
                {{ bonus.bronze_boot }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Balón de Oro</strong><br>
                {{ bonus.golden_ball }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Balón de Plata</strong><br>
                {{ bonus.silver_ball }}
            </div>

            <div style="border:1px solid #ddd; padding:10px; border-radius:8px;">
                <strong>Balón de Bronce</strong><br>
                {{ bonus.bronze_ball }}
            </div>

        </div>

    </div>

</div>

{% endif %}

<div style="width:70%; margin:auto;">

    <h2 style="text-align:left;">Fase de grupos</h2>

    {% regroup group_predictions by match.stage.name as grouped_predictions %}

    {% for group in grouped_predictions %}

    <h3 style="text-align:left; margin:20px 0 5px 5px;">
        Grupo {{ group.grouper|cut:"GROUP_" }}
    </h3>

    <div style="
        border:1px solid #ddd;
        border-radius:10px;
        margin-bottom:20px;
        background:white;
    ">

        {% for prediction in group.list %}
            <div style="
                display:flex;
                padding:10px;
                border-top:1px solid #eee;
                align-items:center;
            ">

                <!-- PUNTOS -->
                
                <div style="
                    width:10%;
                    text-align:center;
                    font-weight:bold;

                    {% if prediction.points >= 5 %}
                        color:green;
                    {% elif prediction.points > 0 %}
                        color:orange;
                    {% else %}
                        color:#999;
                    {% endif %}
                ">
                    {{ prediction.points }}
                </div>


                <!-- LOCAL -->
                <div style="width:25%; text-align:right;">
                    {{ prediction.match.home_team }}
                </div>

                <!-- PREDICCIÓN -->
                <div style="
                    width:15%;
                    text-align:center;
                    font-weight:bold;
                ">
                    {{ prediction.predicted_home_score }}-{{ prediction.predicted_away_score }}
                </div>

                <!-- VISITANTE -->
                <div style="width:25%; text-align:left;">
                    {{ prediction.match.away_team }}
                </div>

                <!-- RESULTADO REAL -->
                <div style="
                    width:25%;
                    text-align:center;
                    color:#666;
                ">
                    {% if prediction.match.home_score is not None %}
                        {{ prediction.match.home_score }}-{{ prediction.match.away_score }}
                    {% else %}
                        <span style="color:#999;">
                            sin jugar
                        </span>
                    {% endif %}
                </div>

            </div>
        {% endfor %}

    </div>

    {% endfor %}

    <h2 style="text-align:left;">Fase eliminatoria</h2>

    {% if knockout_predictions %}

        {% regroup knockout_predictions by match.stage.name as knockout_groups %}

        {% for phase in knockout_groups %}

        <h3 style="text-align:left; margin:20px 0 5px 5px;">

            {% if phase.grouper == "R16" %}
                Octavos de final
            {% elif phase.grouper == "QF" %}
                Cuartos de final
            {% elif phase.grouper == "SF" %}
                Semifinal
            {% elif phase.grouper == "FINAL" %}
                Final
            {% else %}
                {{ phase.grouper }}
            {% endif %}

        </h3>

        <div style="
            border:1px solid #ddd;
            border-radius:10px;
            margin-bottom:20px;
            background:white;
        ">

            {% for prediction in phase.list %}
            <div style="
                display:flex;
                padding:10px;
                border-top:1px solid #eee;
                align-items:center;
            ">

                <div style="width:30%; text-align:right;">
                    {{ prediction.match.home_team }}
                </div>

                <div style="
                    width:15%;
                    text-align:center;
                    font-weight:bold;
                ">
                    {{ prediction.predicted_home_score }}-{{ prediction.predicted_away_score }}
                </div>

                <div style="width:30%; text-align:left;">
                    {{ prediction.match.away_team }}
                </div>

                <div style="
                    width:25%;
                    text-align:center;
                    color:#666;
                ">
                    {% if prediction.match.home_score is not None %}
                        {{ prediction.match.home_score }}-{{ prediction.match.away_score }}
                    {% else %}
                        <span style="color:#999;">
                            sin jugar
                        </span>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

        </div>

        {% endfor %}

    {% else %}
        <div style="color:#888;">
            Sin partidos eliminatorios todavía
        </div>
    {% endif %}

</div>

{% endblock %}